<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<%- include('partials/header'); -%>

    <body>
        <div align="center">
            <b>Welcome back to your account. Since you have forgotten your password, we strongly recommend you to change
                it:</b><br>
            <input type="password" id="password" placeholder="New Password"><br>
            <input type="password" id="passwordReEntry" placeholder="Enter New Password Again"><br><br>
            <button onclick="return resetPassword()">Change Password</button><br>
            <button onclick="return cancel()">Cancel</button>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            async function resetPassword() {
                const data = {
                    password: document.querySelector('#password').value,
                    passwordReEntry: document.querySelector('#passwordReEntry').value,
                    path: window.location.pathname,
                }
                axios.put("/auth/reset-password", data).then(({ data, headers }) => {
                    alert("You have successfully changed your password");
                    window.location.assign("/");
                }).catch(err => {
                    alert(err.response.data.message);
                });
            }
            function cancel() {
                window.location.assign('/');
            }
        </script>
    </body>

</html>